.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em;
  text-align: center; }

.App-intro {
  font-size: large;
  text-align: center; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
